---
import HeaderSection from "../components/HeaderSection.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link
      class="text-slate-200 dark:text-white"
      rel="icon"
      type="image/svg+xml"
      href="/images/favicon_sorozco.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/SEOthumb.webp" />
    <meta property="og:url" content="https://www.sergiorozco.com" />
    <meta property="og:site_name" content="Sergio Orozco" />
    <title>{title}</title>
  </head>
  <body class="">
    <Nav />
    <HeaderSection />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --grid-cols: 6;
    --box-size: min(calc(100vw / var(--grid-cols)), 122px);
  }

  @media (min-width: 768px) {
    :root {
      --grid-cols: 12;
    }
  }

  body {
    font-family: "Barlow", sans-serif;
    position: relative;
    min-height: 100vh;
  }

  body::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image:
      linear-gradient(
        to right,
        rgba(120, 119, 198, 0.274) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        rgba(120, 119, 198, 0.274) 1px,
        transparent 1px
      );
    background-size: var(--box-size) var(--box-size);
    background-position: center top;
    mask-image: radial-gradient(circle at center, black, transparent 80%);
    z-index: -1;
  }

  .handText {
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(10em);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes changeWidth {
    0% {
      margin-inline: 0em;
    }
    20%,
    100% {
      margin-inline: 1em;
      border-bottom-left-radius: 3em;
      border-bottom-right-radius: 3em;
      @apply bg-blue-900 duration-700;
    }
  }

  @keyframes slateBG {
    from {
      opacity: 0;
    }
    to {
      opacity: 1 @apply bg-gradient-to-b from-transparent to-blue-900;
    }
  }

  .slateBG {
    animation: slateBG 2s both;
    animation-timeline: view();
    animation-range: entry 20%;
  }

  .clipBackground {
    clip-path: view-box;
  }

  .wrapper {
    max-inline-size: calc(var(--box-size) * var(--grid-cols));
    margin: 0 auto;
    width: 100%;
  }

  .reveal {
    animation: reveal both;
    animation-timeline: view();
    animation-range: entry 10% contain 30%;
  }

  .changeW {
    animation: changeWidth linear both;
    animation-timeline: view(block);
    animation-range: exit 0% cover 100%;
  }

  .grid-snapped {
    --rows: 3;
    box-sizing: border-box;
    min-height: calc(var(--box-size) * var(--rows));
    padding: calc(var(--box-size) / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
